.rainbow_text { /* from https://rainbowcoding.com/posts/how-to-create-rainbow-text-in-html-css-javascript */
    background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet);
    color:transparent;
    background-clip: text;
}
