:root {
    --block-color: #444444;
    --page-color: #302f2f;
    --bg-color: hsl(0, 0%, 7%);
    --hover-color: #313131;
}

body {
    background-color: var(--bg-color);
    font-family: 'Futura PT';
    color: #ffffff
}
a {
    color: #569cec;
}
a:visited {
    color: rgb(185, 78, 185);
}
a:hover, a:active, a:focus {
    color:#c33;
}

table, th, td {
    border: 1px solid #e2dddf;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

tr:hover {
    background-color: #569cec;
}

.page {
    background-color: var(--page-color);
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}

/* from https://rainbowcoding.com/posts/how-to-create-rainbow-text-in-html-css-javascript */
.rainbow-text { 
    background: linear-gradient(to right, rgb(243, 90, 90), rgb(243, 183, 72) , rgb(240, 240, 87), rgb(93, 240, 93), rgb(94, 243, 243), rgb(118, 118, 233), rgb(243, 182, 243));
    color:transparent;
    background-clip: text;
}

.nav-bar {
    display: inline;
    height: 100%;
    justify-content: left;
}

.pic-with-caption {
    vertical-align: top;
    display: inline-block;
    width: 275px
}

.pic-caption {
    width: auto;
    display: inline-block;
}

.header-footer {
    text-align: left;
    justify-content: left;
    background-color: var(--block-color);
    height: 50px;
}

.nav-btn {
    border-radius: 0px;
    height: 100%;
    font-weight: bold;
    font-size: medium;
    color: white;
    background-color: var(--block-color);
    border: transparent;
}

.nav-btn:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.form-body {
    border-radius: 10px;
    background-color: var(--block-color);
    margin: 20px;
    padding: 10px;
    align-content: center;
}

.contact-box, .message-box {
    border-radius: 5px;
    margin: 5px;
}

.message-box {
    width: 500px;
    height: 100px;
}

.val-text {
    color: rgb(245, 69, 69);
}

/* 
    Removing padding before lists in paragraphs - found out how to do this from:
    https://stackoverflow.com/questions/7759229/remove-space-between-paragraph-and-unordered-list 
*/
p + ul {
    margin-top: -15px;
}

h3 + ul {
    margin-top: -15px;
}
